.cards-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    '... card1 card1  ...'
    'card2 card3 card4 card5'
    '... chart chart ... ';
  gap: 1rem;
  .card1 {
    grid-area: card1;
  }
  .chart-wrapper {
    grid-area: chart;
  }
  .card2 {
    grid-area: card2;
  }
  .card3 {
    grid-area: card3;
  }
  .card4 {
    grid-area: card4;
  }
  .card5 {
    grid-area: card5;
  }
}

@media (max-width: $break-narrow) {
  .cards-list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      'chart'
      'card1'
      'card2'
      'card3'
      'card4'
      'card5';
    .card5 {
      margin-bottom: 2rem;
    }
  }
}

// @media (min-width: $break-narrow) {
//   .hamburger {
//     display: none;
//   }
// }
