.app-container {
  .celcsius-btn {
    z-index: 1;
    // background-color: $clr3;
    color: $clr2;
    font-size: 18px;
    padding: 5px 10px;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.398);
    transition: all 0.5s;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.848);
    &:hover {
      background-color: rgba(240, 248, 255, 0.266);
      box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.398);
      color: rgba(255, 255, 255, 0.848);
    }
  }

  .heart {
    font-size: 30px;
    // color: azure;
    color: $clr2;
    // background-color: $clr3;
    // text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    transition: all 0.5s;
    margin-bottom: 1rem;
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.398);
    background-color: rgba(255, 255, 255, 0.848);
    &:hover {
      background-color: rgba(240, 248, 255, 0.266);
      color: rgba(255, 255, 255, 0.848);
      box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.398);
      // box-shadow: 3px 3px 20px 2px #000;
    }
  }

  .weather-container {
    margin-top: 2rem;
    z-index: 1;
    text-align: center;
    h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    h3{
      font-size: 18px;
      line-height: 28px;
    }
  }
}
